
.main {
  padding: 20px;
  font-family: Arial, sams-serif;
}

.description {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.post {
  background-color: #6d72fb;
  border: 1px solid #000000;
  border-radius: 8px;
  padding: 10px;
  width: 100%;
  max-width: 300px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: transform 0.2s;
}

.post:hover {
  transform: translateY(-5px);
}

.postHeader {
  border-bottom: 1px solid #ffffff;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.postHeader h1 {
  font-size: 1.5em;
  margin: 0;
}

.postHeader p {
  margin: 5px 0;
  color: #000000;
}

.postContent p {
  color: #000000;
}

.button {
  border: none;
  color: rgb(13, 9, 9);
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
}

.boldButton{
  font-size: 15px;
  font-weight: bold;
}